body {
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
}

ul li {
	list-style: none;
	line-height: 22px;
}

#header {
	margin: 0 0 8px;
	height: 40px;
	background-color: #d44413;
}
#footer {
	height: 30px;
	background-color: #d44413;
}
#main {

}

.container {
	width: 100%;
	height: 100%;
}

.height100 {
	height: 100%;
}
.height120 {
	height: 120%;
}

.height10 {
	height: 10%;
}

.height8 {
	height: 8%;
}

.height20 {
	height: 20%;
}

.height25 {
	height: 25%;
}

.height30 {
	height: 30%;
}

.height33 {
	height: 33.3%;
}

.height40 {
	height: 40%;
}
.height50 {
	height: 50%;
}
.height53 {
	height: 53%;
}
.height60 {
	height: 60%;
}
.height70 {
	height: 70%;
}
.height80 {
	height: 80%;
}
.height90 {
	height: 92%;
}
.echarts {
	width: 100%;
	height: 100%;
}
.margin0 {
	margin: 0;
	padding: 0 5px;
}


/*淇敼婊氬姩鏉�*/

.innerbox::-webkit-scrollbar {
	/*婊氬姩鏉℃暣浣撴牱寮�*/
	width: 4px;
	/*楂樺鍒嗗埆瀵瑰簲妯珫婊氬姩鏉＄殑灏哄*/
	height: 4px;
}

.innerbox::-webkit-scrollbar-thumb {
	/*婊氬姩鏉￠噷闈㈠皬鏂瑰潡*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}

.innerbox::-webkit-scrollbar-track {
	/*婊氬姩鏉￠噷闈㈣建閬�*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: rgba(0, 0, 0, 0.1);
}